/* Global */

html{
    height: 100%;
    background: linear-gradient(
        170deg,          /* Left-to-right flow */
        aquamarine 20.1%,
        grey 20.5%,          /* Blue begins at 30% */
        white 20.9%        /* Ends green */
    );
}

body{
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-self: center;


    /* temporarly */
    border: 1px solid black;
}

*{
    font-family: 'JetBrains Mono';
}

/* Header */

.about-me{
    display: flex;
    margin: 2rem 2.5rem;
    justify-content: space-evenly;
    /* temp */
    height: 100%;
}

.picture-container{
    position: relative;
}

.picture-container > h1 {
    position: absolute;
    bottom: 1rem;
    margin: 0;
    font-size: 3rem;
    left: 50%;  
    transform: translateX(-50%); 
    width: max-content;
    
}

.picture-container > img{
    width: 350px;
}

.about-me-description-container{
    height: 100%;
    padding: 1.8rem 1.2rem;
    align-self: center;
    max-width: calc(100% - 350px);
    background-color: white;
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.1);
}